In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [2]:
data = pd.read_json('../raw_data/news_category_data.json', lines=True)

In [11]:
data[data.category == 'IMPACT']

12         The revolution is coming to rural New Brunswick.
66        “Together they will influence markets all over...
125       We may not realize it, but retailers are condi...
193                    Your next boss could be an algorithm
286       “People didn’t view me seriously because I was...
                                ...
200762    A local contracting company offered to install...
200763    Africa is taking command of its future by tack...
200825    Tinkering -- that hands-on, garage-based tradi...
200826    It's time we all step up our efforts to ensure...
200827    Since Brady started promoting Martinez's cause...
Name: short_description, Length: 3459, dtype: object

In [7]:
list(data.category.unique())

['CRIME',
 'ENTERTAINMENT',
 'WORLD NEWS',
 'IMPACT',
 'POLITICS',
 'WEIRD NEWS',
 'BLACK VOICES',
 'WOMEN',
 'COMEDY',
 'QUEER VOICES',
 'SPORTS',
 'BUSINESS',
 'TRAVEL',
 'MEDIA',
 'TECH',
 'RELIGION',
 'SCIENCE',
 'LATINO VOICES',
 'EDUCATION',
 'COLLEGE',
 'PARENTS',
 'ARTS & CULTURE',
 'STYLE',
 'GREEN',
 'TASTE',
 'HEALTHY LIVING',
 'THE WORLDPOST',
 'GOOD NEWS',
 'WORLDPOST',
 'FIFTY',
 'ARTS',
 'WELLNESS',
 'PARENTING',
 'HOME & LIVING',
 'STYLE & BEAUTY',
 'DIVORCE',
 'WEDDINGS',
 'FOOD & DRINK',
 'MONEY',
 'ENVIRONMENT',
 'CULTURE & ARTS']

In [46]:
data[data.category == 'ENVIRONMENT']

,category,headline,authors,link,short_description,date
125421,ENVIRONMENT,Sky Vets Perform Incredible Rescue To Save Wil...,Brianna Elliott,https://www.huffingtonpost.com/entry/skyvetts-...,Warning: This video contains graphic images of...,2014-04-13
125422,ENVIRONMENT,Animal Photos Of The Week: Baby Panda Goes For...,,https://www.huffingtonpost.com/entry/animal-ph...,This week has been an interesting one in the w...,2014-04-13
125423,ENVIRONMENT,Washington Mudslide Menacing Fabled Pacific No...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/washingto...,"The tribe - whose name means ""the river people...",2014-04-13
125424,ENVIRONMENT,America's Exotic Pet Obsession Is Out Of Contr...,Brianna Elliott,https://www.huffingtonpost.com/entry/americas-...,Nearly two-thirds of Americans own at least on...,2014-04-13
125494,ENVIRONMENT,Time to Leave Our Bad Carbon Boyfriend,"Bob Brinkmann, Contributor\nProfessor of Geolo...",https://www.huffingtonpost.com/entry/carbon-cl...,But break-ups happen all the time and we find ...,2014-04-12
...,...,...,...,...,...,...
200828,ENVIRONMENT,Boxer Puppy And Cows Make Friends During Walk ...,,https://www.huffingtonpost.com/entry/boxer-pup...,This bevy of otters were also filmed having a ...,2012-01-28
200829,ENVIRONMENT,'Black Smoker' Vents: New Species Discovered N...,,https://www.huffingtonpost.com/entry/black-smo...,Photos and captions courtesy of University of ...,2012-01-28
200830,ENVIRONMENT,Green Activists: 50 And Older,,https://www.huffingtonpost.com/entry/green-peo...,If you look at some of today's most prominent ...,2012-01-28
200831,ENVIRONMENT,Winter Weather Photo Contest: Submit Your Own ...,,https://www.huffingtonpost.com/entry/winter-we...,While severe winter weather has devastated som...,2012-01-28
200832,ENVIRONMENT,Insects Top Newly Discovered Species List,,https://www.huffingtonpost.com/entry/insects-t...,Species IDs need improvement In addition to th...,2012-01-28

In [47]:
my_dict = {'CRIME': 'Crime',
 'ENTERTAINMENT': 'Entertainment',
 'WORLD NEWS': 'World News',
 'IMPACT': 'Other',
 'POLITICS': 'Politics',
 'WEIRD NEWS': 'Other',
 'BLACK VOICES': 'Activism',
 'WOMEN': 'Entertainment',
 'COMEDY': 'Entertainment',
 'QUEER VOICES': 'Activism',
 'SPORTS': 'Sports',
 'BUSINESS': 'Business',
 'TRAVEL': 'Culture',
 'MEDIA': 'Media',
 'TECH': 'Technology',
 'RELIGION': 'Religion',
 'SCIENCE': 'Science',
 'LATINO VOICES': 'Activism',
 'EDUCATION': 'Education',
 'COLLEGE': 'Education',
 'PARENTS': 'Other',
 'ARTS & CULTURE': 'Culture',
 'STYLE': 'Trends',
 'GREEN': 'Activism',
 'TASTE': 'Culture',
 'HEALTHY LIVING': 'Health',
 'THE WORLDPOST': 'World News',
 'GOOD NEWS': 'Other',
 'WORLDPOST': 'World News',
 'FIFTY': 'Other',
 'ARTS': 'Culture',
 'WELLNESS': 'Health',
 'PARENTING': 'Other',
 'HOME & LIVING': 'Trends',
 'STYLE & BEAUTY': 'Trends',
 'DIVORCE': 'Other',
 'WEDDINGS': 'Other',
 'FOOD & DRINK': 'Culture',
 'MONEY': 'Other',
 'ENVIRONMENT': 'Activism',
 'CULTURE & ARTS': 'Culture'}

In [48]:
len(set(my_dict.values()))

16

In [49]:
new_data = data.copy()
new_data['category'] = data.category.map(lambda x: my_dict[x])

In [50]:
new_data.category.value_counts()

Politics         32739
Other            30344
Entertainment    24723
Health           24521
Culture          22087
Trends           16098
Activism         15916
World News        8420
Business          5937
Sports            4884
Crime             3405
Media             2815
Religion          2556
Science           2178
Education         2148
Technology        2082
Name: category, dtype: int64

In [53]:
new_data.to_csv('../big_picture/data/data_topics.csv')

In [52]:
!pwd

/Users/josefreitas/code/archifreitas/big_picture/notebooks

In [54]:
# To complete
from tensorflow.keras import models
from tensorflow.keras import layers

def initialize_model():
    
    model = models.Sequential()
    
    model.add(layers.SimpleRNN(20, activation='tanh', input_shape=X[0].shape))
    
    model.add(layers.Dense(10, activation='relu'))
    
    model.add(layers.Dense(16, activation='sodftmax'))
    
    return model