## Versão para Bert

In [62]:
import pandas as pd
import glob

files = glob.glob("../raw_data/data_12k/*.csv")

df = pd.DataFrame()

for file in files:
    csv = pd.read_csv(file)
    df = df.append(csv)

df.to_csv("../raw_data/merged_data.csv")

In [63]:
df["content"] = df["content"].replace('\n',' ', regex=True)

In [64]:
df["news_all_data"] = df["headline"] + " " + df["short_description"] + " " + df["content"]

In [65]:
df.to_csv("../raw_data/all_data_12k_merged_cols.csv")

## Versão para ML

In [68]:
import pandas as pd
import glob

files = glob.glob("../raw_data/data_12k/*.csv")

df = pd.DataFrame()

for file in files:
    csv = pd.read_csv(file)
    df = df.append(csv)

In [69]:
df.to_csv("../raw_data/all_data_12k.csv")

In [76]:
import numpy as np
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [75]:
df.dropna(subset=['born'])

     name        toy       born
1  Batman  Batmobile 1940-04-25